<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sections</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
<div class="container">
    <div class = "adminstuff">
    <h1>Empty the Database</h1>
    <form action="{{ url_for('empty_database') }}" method="post">
        <button type="submit">Empty Database</button>
    </form>
    <h1>Toggle Question Submission. Currently is {{ session_status }}</h1>
    <form action="{{ url_for('toggle_session') }}" method="post">
        <button type="submit">Toggle Session</button>
    </form>
    <h1>Generate Summaries!</h1>
    <form action="{{ url_for('summary') }}" method="post">
        <button type="submit">Generate Summary</button>
    </form>
    <h1>Summaries:</h1>
    <ul id="Summary">
        {% for line in summary_text %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
    </div>
</div>
</body>
</html>